/* page styles */
.ax-hidden {
  visibility: hidden;
  position: absolute;
}

/* carousel styles */
.carousel {
  position: fixed;
  color: black;
  top: 100px;
  padding-top: 50px;
  --carousel-height: 400px;
  --carousel-width: 1000px;
  --carousel-item-height: 200px;
  --carousel-item-width: 150px;
  width: 100%;
  z-index: 10;
}

.carousel-container {
  align-items: center;
  display: flex;
  min-height: var(--carousel-height);
  margin: 0 auto;
  max-width: var(--carousel-width);
  position: relative;
}

.carousel-item {
  height: var(--carousel-item-height);
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  width: var(--carousel-item-width);
  z-index: 0;
  background-color: white;
  border-radius: 10px;
}
.carousel-item .card-close-btn {
  display: none;
}
.carousel-item img {
  height: 100%;
  transition: all 0.3s ease-in-out;
  background-size: cover;
}

.carousel-item-1 {
  left: 15%;
  opacity: 0.4;
}

.carousel-item-2,
.carousel-item-4 {
  pointer-events: none;
  height: calc(var(--carousel-item-height) * 1.5);
  opacity: 0.8;
  width: calc(var(--carousel-item-width) * 1.5);
  z-index: 1;
  font-size: 80%;
}
.carousel-item-2 img,
.carousel-item-4 img {
  height: 95%;
}

.carousel-item-1,
.carousel-item-5 {
  pointer-events: none;
  font-size: 60%;
}

.carousel-item-1 img,
.carousel-item-5 img {
  height: 90%;
}
.carousel-item-2 {
  left: 30%;
}

.carousel-item-3 {
  /* box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
    0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25),
    0 0 100px rgba(255, 255, 255, 0.1); */
  height: calc(var(--carousel-item-height) * 2);
  opacity: 1;
  left: 50%;
  width: calc(var(--carousel-item-width) * 2);
  z-index: 2;
}

.carousel-item-3 .card-close-btn {
  display: block;
}

.carousel-item-4 {
  left: 70%;
}

.carousel-item-5 {
  left: 85%;
  opacity: 0.4;
}

.carousel-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

/* carousel button styles */
.carousel-control {
  background-color: transparent;
  border: 2px solid;
  border-radius: 4px;
  color: #aaa;
  cursor: pointer;
  height: 22px;
  margin: 0 20px;
  position: relative;
  transform: scale(1.5);
  transition: transform 0.5s ease-out;
  width: 22px;
}

.carousel-control:hover {
  transform: scale(1.3);
}

/* previous button */
.carousel-control-previous::after,
.carousel-control-previous::before {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  top: 5px;
}
.carousel-control-previous::before {
  background: currentColor;
  border-radius: 2px;
  right: 11px;
  width: 2px;
}
.carousel-control-previous::after {
  border-bottom: 4px solid transparent;
  border-right: 5px solid;
  border-top: 4px solid transparent;
  right: 5px;
  width: 0;
}

/* next button */
.carousel-control-next::after,
.carousel-control-next::before {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  top: 5px;
}
.carousel-control-next::before {
  background: currentColor;
  border-radius: 2px;
  left: 11px;
  width: 2px;
}
.carousel-control-next::after {
  border-bottom: 4px solid transparent;
  border-left: 5px solid;
  border-top: 4px solid transparent;
  left: 5px;
  width: 0;
}
