body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nanum Gothic", "Yu Gothic", sans-serif;
  line-height: 1.4;
  text-align: center;
}

img {
  display: block;
  height: 60px;
}

a {
  text-decoration: none;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* flex 가운데 정렬 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flex 수직 정렬 */
.flex-start {
  display: flex;
  align-items: flex-start;
}

/* flex 우측 정렬 */
.flex-right {
  display: flex;
  justify-content: flex-end;
}

header {
  background-color: #d9d9d9;
  height: 100px;
}

header .nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

header p {
  display: flex;
  width: 120px;
  height: 50px;
  font-size: 18px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

header p:hover {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

header .move-right {
  position: relative;
  top: -10px;
  right: 120px;
}

header .nav-area {
  background-color: #d9d9d9;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
}

header .area-1 {
  height: 110px;
}

header .area-2 {
  height: 210px;
}

header .area-3 {
  height: 160px;
}

header .area-4 {
  height: 260px;
}

.map {
  margin-top: 60px;
}

footer {
  background-color: #d9d9d9;
}
footer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
}
footer p {
  font-size: 16px;
}

footer .container {
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

footer .info {
  flex-direction: column;
  padding: 10px 0px;
  gap: 20px;
}

footer .info .leader {
  flex-direction: row;
  gap: 10px;
}

footer .info .crew-tab {
  flex-direction: row;
  gap: 10px;
}

footer .info .crew-tab .crew-info {
  flex-direction: column;
  gap: 10px;
}

footer .crew-tab .crew {
  flex-direction: row;
  gap: 10px;
}

footer hr {
  width: 100%;
  border: 1px solid #fff;
}

footer .logo-img {
  flex-direction: row;
  padding: 0px;
  gap: 50px;
}
