body {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nanum Gothic", "Yu Gothic", sans-serif;
  line-height: 1.4;
  text-align: center;
}

img {
  display: block;
  height: 60px;
}

a {
  text-decoration: none;
}

.inner {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* flex 가운데 정렬 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* flex 수직 정렬 */
.flex-start {
  display: flex;
  align-items: flex-start;
}

/* flex 우측 정렬 */
.flex-right {
  display: flex;
  justify-content: flex-end;
}

header {
  --nav-text-width: 80px;
  --nav-input-width: 150px;

  background-color: #0081a7;
  height: 100px;
  width: 100%;
  position: fixed;
  opacity: 0.8;
}

header .upper {
  z-index: 10;
}

header .nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

header .nav p {
  height: 100px;
}

header p {
  display: flex;
  width: var(--nav-text-width);
  height: 50px;
  font-size: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

header p:hover {
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

header .nav-area p:hover {
  background-color: #00afb9;
}

header .nav-area {
  position: absolute;
  background-color: #0081a7;
  border-radius: 0 0 10px 10px;
  padding-top: 100px;
  top: -100px;
  display: none;
}

header .area-1 {
  right: calc(var(--nav-text-width) * 4.75 + var(--nav-input-width));
  height: 110px;
}

header .area-1 p {
  width: calc(var(--nav-text-width) * 1.5);
}

header .area-2 {
  right: calc(var(--nav-text-width) * 2.75 + var(--nav-input-width));
  height: 210px;
}

header .area-2 p {
  width: calc(var(--nav-text-width) * 1.5);
}

header .area-3 {
  right: calc(var(--nav-text-width) * 1.75 + var(--nav-input-width));
  height: 160px;
}
header .area-3 p {
  width: calc(var(--nav-text-width) * 1.5);
}

header .area-4 {
  right: calc(var(--nav-text-width) * 0.75 + var(--nav-input-width));
  height: 260px;
}
header .area-4 p {
  width: calc(var(--nav-text-width) * 1.5);
}

header input {
  width: var(--nav-input-width);
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 5px;
}

header span {
  position: absolute;
  right: 0;
  color: black;
}

.map {
  margin-top: 60px;
  height: 1150px;
  width: 700px;
}

.map svg {
  padding: 20px;
}

footer {
  background-color: #0081a7;
  opacity: 0.8;
}
footer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
}
footer p {
  font-size: 16px;
}

footer .container {
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}

footer .info {
  flex-direction: column;
  padding: 10px 0px;
  gap: 20px;
}

footer .info .leader {
  flex-direction: row;
  gap: 10px;
}

footer .info .crew-tab {
  flex-direction: row;
  gap: 10px;
}

footer .info .crew-tab .crew-info {
  flex-direction: column;
  gap: 10px;
}

footer .crew-tab .crew {
  flex-direction: row;
  gap: 10px;
}

footer hr {
  width: 100%;
  border: 1px solid #fff;
}

footer .logo-img {
  flex-direction: row;
  padding: 0px;
  gap: 50px;
}
