.OUTLINE {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
}
.OUTLINE:hover {
  transition: transform 1s;
  transform-origin: center center;
  transform-box: fill-box;
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

.small:hover {
  transition: transform 1s;
  transform-origin: center center;
  transform-box: fill-box;
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
}
path {
  fill: #ccc;
}
path:hover {
  cursor: pointer;
  fill: #eee;
}
/* #CD11 {
  fill: #f1c40f;
}
#CD26 {
  fill: #16a085;
}
#CD27 {
  fill: #f39c12;
}
#CD28 {
  fill: #2ecc71;
}
#CD29 {
  fill: #e67e22;
}
#CD30 {
  fill: #27ae60;
}
#CD31 {
  fill: #d35400;
}
#CD36 {
  fill: #3498db;
}
#CD41 {
  fill: #e74c3c;
}
#CD42 {
  fill: #2980b9;
}
#CD43 {
  fill: #c0392b;
}
#CD44 {
  fill: #9b59b6;
}
#CD45 {
  fill: #8e44ad;
}
#CD46 {
  fill: #34495e;
}
#CD47 {
  fill: #2c3e50;
}
#CD48 {
  fill: #1abc9c;
}
#CD50 {
  fill: #f1c40f;
} */
.TEXT {
  fill: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
}
