#modal {
  width: 830px;
  height: 535px;
  background-color: white;
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  padding: 30px 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #000;
  margin: 0 auto;

  /* 화면에 꽉 차게 하는 코드(여기서는 너비를 꽉 채우는 용도) */
  top: 50%;
  left: 50%;

  /* 위아래 너비를 준 상태에서 가로 50%, 세로 50%를 이동시킬 수 있다 (= 한가운데 배치) */
  transform: translate(-50%, -50%);
}
.modal-background {
  /* 화면에 꽉 차게 하는 코드 */
  position: fixed;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.35);
  /* 검정 도화지로 덮어 씌우기 */
  z-index: 10;
  /* 헤더 위로 올라갈 수 있게 헤더 이상으로 z-index를 준다. */
}
/* #modal.modal-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex; 
}*/
/*특정 버튼을 틀릭하면 모달창이 나오도록*/

#modal-title{ 
/*area와 close-btn*/
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}

.area{
  /*지역명*/
  text-align: center;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  display: inline-block;
  top: 1px;
  font-weight: bold;
}

#modal .close-modal-btn {
  box-sizing: border-box;
  height: 20px;
  width: 17px;
  right: 41px;
  top: 34px;
  position: absolute;
}

.close-modal-btn:hover {
  /*마우스가 닫기 버튼에 있는 경우*/
  color: red;
  cursor: pointer;
}

/* 카드 설정 */

.card-section {
  /* card1, 2, 3 */
  width: 755px;
  height: 388px;
  box-sizing: border-box;
  position: absolute;
  margin: 0px 16px;
}

.card{ 
  /*전체 카드 크기 설정*/
  width: 260px;
  height: 370px;
  position: absolute;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px #999;
  box-sizing: border-box;
  right: 306px;
  padding: 20px 10px;
  z-index: 1;
  background-color: #fff;
}

.card img{
  /* 축제 이미지 */
  width: 220px;
  height: 290px;
  margin: 0 auto;
  text-align: center;
}

.card1 {
  /* 카드 1 위치 설정 */
  left: 0px;
}

.card1 img{
  content: url(/img/축제사진/Blossom.png);
}

.card1 > ul > li >span{ /*축제 명*/
  width: 220px;
  height: 20px;
  box-sizing: border-box;
}

.card2{
  right: 246px;
  z-index: 10;
}

.card2 img{
  content: url(/img/축제사진/Jong-ro.jpg);
}

.card3 {
  /* 카드 3 위치 설정 */
  right: 0px;
}

.card3 img{
  content: url(/img/축제사진/Kangnam.jpg);
}

.card-contents {
  /*카드 내용*/
  list-style: none;
  box-sizing: border-box;
}

/* 카드 설정 */