.searchContainer {
  z-index: 1;
  background-color: #fafbfc;
  width: 100%;
  height: 1000px;
}

.searchBoard {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  border: 1px solid #e9ebee;
  border-radius: 30px;
  background-color: gray;
  width: 75%;
  height: 100%;
}

.searchList {
  text-align: left;
  font-size: 50px;
  padding-left: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.searchList li {
  text-align: center;
  margin-top: 20px;
  transform: translateX(15%);
  background-color: #f2f2f2;
  width: 75%;
  height: 50px;
  font-size: 30px;
  color: black;
  border-left: 10px;
  border-color: black;
  border-style: solid;
}

.searchList :hover {
  border-color: aqua;
  transition: 0.3s;
}
