.searchBox {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  position: absolute;
  margin-top: 100px;
  width: 100%;
  height: 1157px;
  background-color: white;
}

h1 {
  text-shadow: 1.5px 1.5px gray;
  margin-top: 30px;
  color: black;
  background-color: #fdfbde;
  transform: translateX(50%);
  font-size: 30px;
  border-left: 10px;
  border-color: black;
  border-style: solid;
  width: 50%;
  height: 50px;
}

h1:hover {
  font-weight: bold;
  color: pink;
  border-color: pink;
  transition: 0.3s;
}

.searchContainer {
  margin-top: 30px;
  opacity: 0;
  transition: 1s;
  border-radius: 30px;
  transform: translateX(18%);
  visibility: hidden;
  position: absolute;
  width: 75%;
  height: 75%;
  background-color: #c9e8f0;
}

#searchSpan {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 50px;
  float: right;
  color: black;
  content: "\00d7";
}

#searchSpan:hover {
  cursor: pointer;
}

.searchBox h2 {
  font-weight: bold;
  font-size: 50px;
  margin-top: 40px;
  color: black;
  text-shadow: 1.5px 1.5px gray;
}
